<div class="flex-container">
    <div class="search-bar">
      <input type="text" placeholder="Rechercher" class="search-input" [(ngModel)]="searchTerm" (input)="applyFilter()"/>
    </div>
    <!-- <div class="page-content" style="padding-left: 0px; padding-bottom: 10px;">
      <button style="color: white; background-color: #5538D9; border-radius: 10px; width: 200px; height: 50px;" mat-raised-button class="example-icon" (click)="openAddDocumentDialog()">
        <img src="assets/icons/add.png" class="mat-iconleft" width="20px" height="20px" alt="">

      </button>
    </div> -->
    <div class="page-content" style="padding-left: 0px; padding-bottom: 10px;" *ngIf="isAdmin">
      <button style="color: white; background-color: #5538D9; border-radius: 10px; width: 200px; height: 50px;" mat-raised-button (click)="openAddDocumentDialog()">
        <img src="assets/icons/add.png" class="mat-iconleft" width="20px" height="20px" alt="">
      </button>
    </div>
    
  </div>
  
<table>
  <thead>
      <tr>
          <th></th>
          <th>Sujet</th>
          <th>Code</th>
          <th>description</th>
          <th>date</th>
          <th>File</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let decision of dataSource.filteredData">
          
              <div class="actions" *ngIf="decision.isSelected">
                <button mat-icon-button class="example-icon-up" (click)="openConfirmationDialog(decision.id)">
                <span><img src="assets/icons/delete.png" width="20px" height="20px" alt="Supprimer"></span>
              </button>

              <button mat-icon-button class="example-icon-up" (click)="openUpdateDialog(decision.id)">
              <span><img src="assets/icons/edit.png" class="mat-iconleft" width="22px" height="24px" alt=""></span>
              </button>
            </div>
          
          <td>
              <input type="checkbox"  [checked]="decision.isSelected" (change)="(decision)" (change)="toggleSelection(decision)"class="select-checkbox">
          </td>
          <td>{{ decision.titre }}</td>
          <td>{{ decision.code }}</td>
          <td>{{ decision.description }}</td>
          <td>{{ decision.date | date:'yyyy/MM/dd' }}</td>
          <td><iframe [src]="decision.safeUrl" width="600px" height="200"></iframe>
            <a href="{{my_url}}{{ decision.file }}" target="_blank">{{ decision.file || 'N/A' }}</a>
            </td>
      </tr>
  </tbody>
</table>
<mat-paginator [pageSizeOptions]="[3, 5, 10]" (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>



