<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(assets/bg-01.jpg);">
                <span class="login100-form-title-1">
                     Setup PAssword
                </span>
            </div>

            <form class="login100-form validate-form">
                
               

                <div  class="container-login100-form-btn">
                        <div> 
                        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                                <span class="label-input100">Email</span>
                                <input class="input100" type="text" [(ngModel)]="email" name="username" placeholder="Enter Email">
                                <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-26" data-validate="Tel est requi">
                            <span class="label-input100">Old Password</span>
                            <div class="password-input-container">
                                <input class="input100" type="password" [(ngModel)]="old_password" name="pass" placeholder="Enter password" #passwordInput>
                                <span class="eye-icon" (click)="togglePasswordVisibility(passwordInput)">
                                    <img [src]="showPassword ? 'assets/icons/view.png' : 'assets/icons/hide.png'" class="mat-iconleft" width="25px" height="25px" alt="">
                                </span>
                            </div>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-26" data-validate="Tel est requi">
                            <span class="label-input100">New Password</span>
                            <div class="password-input-container">
                                <input class="input100" type="password" [(ngModel)]="new_password" name="pass" placeholder="Enter password" #passwordInput1>
                                <span class="eye-icon" (click)="togglePasswordVisibility1(passwordInput1)">
                                    <img [src]="showPassword1 ? 'assets/icons/view.png' : 'assets/icons/hide.png'" class="mat-iconleft" width="25px" height="25px" alt="">
                                </span>
                            </div>
                            <span class="focus-input100"></span>
                        </div>
                        <br>

                        <br>
                        <div class="container-login100-form-btn">
                            <button type="submit" (click)="onSave()" class="login100-form-btn" [disabled]="loginInProgress">
                                <span *ngIf="!loginInProgress">Enregistrer</span>
                                <mat-progress-spinner *ngIf="loginInProgress" mode="indeterminate" style="width: 20px; height: 20px; margin: auto;"></mat-progress-spinner>
                            </button>
                        </div>
                      </div>
                </div>
               
                
            </form>
        </div>
    </div>
</div>

