<div class="flex-container">
  <div class="search-bar">
    <input type="text" placeholder="Rechercher" class="search-input" [(ngModel)]="searchTerm" (input)="applyFilter()"/>
  </div>
  <div class="page-content" style="padding-left: 0px; padding-bottom: 10px;">
    <button style="color: white; background-color: #5538D9; border-radius: 10px; width: 200px; height: 50px;" mat-raised-button class="example-icon">
      <img src="assets/icons/add.png" class="mat-iconleft" width="20px" height="20px" alt="">
    </button>
  </div>
</div>

<div *ngIf="useTraditionalTable; else materialTable">
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Address</th>
          <th>Post</th>
          <th>Role</th>
          <th>Direction_Nom</th>
          <th>Password</th>
          <th>Is_Superuser</th>
          <th>Is_Active</th>
          <th>Is_Blocked</th>
          <th>image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agent of dataSource.filteredData">
          <td>{{ agent.nom }}</td>
          <td>{{ agent.prenom }}</td>
          <td>{{ agent.phone }}</td>
          <td>{{ agent.email }}</td>
          <td>{{ agent.address }}</td>
          <td>{{ agent.post }}</td>
          <td>{{ agent.role }}</td>
          <td>{{ agent.direction_nom }}</td>
          <td>{{ agent.password }}</td>
          <td>{{ agent.is_superuser }}</td>
          <td>{{ agent.is_active }}</td>
          <td>{{ agent.is_isblocked }}</td>
          <td>{{ agent.image }}</td>
          <td>
            <button >Modifier</button>
            <button >Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #materialTable>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let agent"> {{ agent.nom }} </td>
      </ng-container>
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef> Prenom </th>
        <td mat-cell *matCellDef="let agent"> {{ agent.prenom }} </td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let agent"> {{ agent.phone }} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let agent"> {{ agent.email }} </td>
      </ng-container>
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let agent"> {{ agent.address }} </td>
      </ng-container>     
       <ng-container matColumnDef="post">
        <th mat-header-cell *matHeaderCellDef> Post </th>
        <td mat-cell *matCellDef="let agent"> {{ agent.post }} </td>
      </ng-container>     
       <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let agent"> {{ agent.role }} </td>
      </ng-container>     
       <ng-container matColumnDef="direction_nom">
        <th mat-header-cell *matHeaderCellDef> Direction_Nom </th>
        <td mat-cell *matCellDef="let agent"> {{ agent.direction_nom }} </td>
      </ng-container>      
      <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef> Password </th>
        <td mat-cell *matCellDef="let agent"> {{ agent.password }} </td>
      </ng-container>      
      <ng-container matColumnDef="is_superuser">
        <th mat-header-cell *matHeaderCellDef> Is_Supperuser </th>
        <td mat-cell *matCellDef="let agent" [ngClass]="{'active-cell': agent.is_superuser, 'inactive-cell': !agent.is_superuser}">
          <img src="assets/icons/correct.png" *ngIf="agent.is_superuser" class="mat-iconleft" width="20px" height="20px" alt="">
          <img src="assets/icons/cross.png" *ngIf="!agent.is_superuser" class="mat-iconleft" width="22px" height="22px" alt="">

      </td>

      </ng-container>
      <ng-container matColumnDef="is_active">
        <th mat-header-cell *matHeaderCellDef> Is_Active </th>
        
        <td mat-cell *matCellDef="let agent" [ngClass]="{'active-cell': agent.is_active, 'inactive-cell': !agent.is_active}">
          <img src="assets/icons/correct.png" *ngIf="agent.is_active" class="mat-iconleft" width="20px" height="20px" alt="">
          <img src="assets/icons/cross.png" *ngIf="!agent.is_active" class="mat-iconleft" width="22px" height="22px" alt="">
      </td>

        
      </ng-container>
      <ng-container matColumnDef="is_blocked">
        <th mat-header-cell *matHeaderCellDef> Is_Blocked </th>
        <td mat-cell *matCellDef="let agent" [ngClass]="{'active-cell': agent.is_blocked, 'inactive-cell': !agent.is_active}">
          <img src="assets/icons/correct.png" *ngIf="agent.is_blocked" class="mat-iconleft" width="20px" height="20px" alt="">  
          <img src="assets/icons/cross.png" *ngIf="!agent.is_blocked" class="mat-iconleft" width="22px" height="22px" alt="">
      </td>
        <!-- <td mat-cell *matCellDef="let agent"> {{ agent.is_blocked }} </td> -->
      </ng-container>
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let agent">
          <a href="{{my_url}}{{ agent.image }}" target="_blank">{{ agent.image || 'N/A' }}</a>
        </td>
      </ng-container>
      
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let agent">
          <button mat-icon-button class="example-icon-sup" (click)="openUpdateDialog(agent.id)">
            <img src="assets/icons/edit.png" class="mat-iconleft" width="30px" height="30px" alt="">
          </button>
          <button mat-icon-button class="example-icon-up" (click)="openConfirmationDialog(agent.id)">
            <img src="assets/icons/delete.png" class="mat-iconleft" width="30px" height="30px" alt="">
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </ng-template>
  
  