<div mat-dialog-title>
    <h1>Ajouter politique </h1>
  </div>
  <form  (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="content">
       
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Sujet</mat-label>
                <input matInput type="text" placeholder="Sujet" [(ngModel)]="sujet" name="sujet" required >
            </mat-form-field>
            
  
  
  
            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput placeholder="Description" [(ngModel)]="description" name="description" required>
            </mat-form-field>
  
            <mat-form-field class="example-chip-list">
              <mat-label>Tous Les Directions</mat-label>
              <mat-chip-grid #chipGrid aria-label="Fruit selection">
                <ng-container *ngFor="let direction of directions; trackBy: track">
                  <mat-chip-row (removed)="remove(direction)" (click)="getUsersInDirection(direction.code)">
                    {{direction.nom }}
                    <button matChipRemove [attr.aria-label]="'remove ' + direction.nom">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                </ng-container>
              </mat-chip-grid>
              <input placeholder="New Direction ..." #fruitInput [formControl]="fruitCtrl"
                [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"/>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <ng-container *ngFor="let fruit of filteredFruits | async; trackBy: track">
                  <mat-option [value]="fruit">{{fruit}}</mat-option>
                </ng-container>
              </mat-autocomplete>
            </mat-form-field>
        
            <!-- start -->
            <div *ngIf="usersInDirection.length > 0">
              <h2>Liste des utilisateurs dans la direction sélectionnée :</h2>
              <ul>
                <li *ngFor="let user of usersInDirection">
                  <label>
                    <input type="checkbox" (change)="onCheckboxChange(user.id)"> {{ user.nom }} 
                  </label>
                </li>
              </ul>
            </div>
            <!-- end  -->
            
  
          
  
            <label class="custom-file-upload" style="width: 98%;">
              <span><mat-icon>cloud_upload</mat-icon> Upload File</span>
              <input type="file" (change)="onFileSelected($event)" accept=".pdf, .doc, .docx">
            </label>
            
        
  
     
    </div>
    <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Save</button>
  </div>
  </form>
  <div *ngIf="showErrorMessage"></div> 

