<div class="flex-container">
        <div class="search-bar">
          <input type="text" placeholder="Rechercher" class="search-input" [(ngModel)]="searchTerm" (input)="applyFilter()"/>
        </div>
        <!-- <div class="page-content" style="padding-left: 0px; padding-bottom: 10px;">
          <button style="color: white; background-color: #5538D9; border-radius: 10px; border: none; width: 200px; height: 50px;" (click)="openAddDocumentDialog()">
            <img src="assets/icons/add.png" class="mat-iconleft" width="20px" height="20px" alt="">
          </button>
        </div> -->
        <div class="page-content" style="padding-left: 0px; padding-bottom: 10px;" *ngIf="isAdmin">
          <button style="color: white; background-color: #5538D9; border-radius: 10px; width: 200px; height: 50px;" mat-raised-button (click)="openAddDocumentDialog()">
            <img src="assets/icons/add.png" class="mat-iconleft" width="20px" height="20px" alt="">
          </button>
        </div>
        
</div>

<table>
    <thead>
        <tr>
            <th></th>
            <th>intitule</th>
            <th>description</th>
            <th>date</th>
            <th>File</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let avis of dataSource.filteredData">
            
                <div class="actions" *ngIf="avis.isSelected">
                  <button mat-icon-button class="example-icon-up" (click)="openConfirmationDialog(avis.id)">
                  <span><img src="assets/icons/delete.png" width="20px" height="20px" alt="Supprimer"></span>
                  <!-- Ajoutez d'autres icônes et leurs fonctionnalités ici -->
                </button>

                <button mat-icon-button class="example-icon-up" (click)="openConfirmationDialog(avis.id)">
                <span><img src="assets/icons/edit.png" class="mat-iconleft" width="22px" height="24px" alt=""></span>
                  <!-- Ajoutez d'autres icônes et leurs fonctionnalités ici -->
                </button>
              </div>
            
            <td>
                <input type="checkbox"  [checked]="avis.isSelected" (change)="toggleSelection(avis)" class="select-checkbox">
            </td>
            <!-- <td><input type="checkbox" class="select-checkbox"></td> -->
            <td>{{ avis.titre }}</td>
            <td>{{ avis.description }}</td>
            <td>{{ avis.date | date:'yyyy/MM/dd' }}</td>
            <td><a [href]="avis.safeUrl" target="_blank">Voir le fichier</a></td>
            
        </tr>
    </tbody>
    </table>



