.content {
    padding-top: 10px;
  }
  .row {
    display: flex;
    gap: 10px;
  
    /* mat-form-field {
      width: 100%;
    } */
  }
  
  /* .action {
    padding: 0px 25px 20px;
    button {
      flex: 1;
    }
  } */

  input[type="file"] {
    display: none; /* Cachez le champ de texte */
    
  }
  
  /* Styles pour personnaliser le bouton "Parcourir" */
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f9f9f9;
    border-radius: 5px;
    width: 93%;
    
  }
  
  .custom-file-upload:hover {
    background-color: #e0e0e0;
  }

 