<div mat-dialog-title>
  <h1>update Document</h1>
</div>
<form (ngSubmit)="saveChanges()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Sujet</mat-label>
        <input matInput type="text" placeholder="titre" [(ngModel)]="documentDetails.titre" name="titre" required>
      </mat-form-field>

      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description" [(ngModel)]="documentDetails.description" name="description" required>
      </mat-form-field>
    </div>


    <label class="custom-file-upload" style="width: 98%;">
      <span><mat-icon>cloud_upload</mat-icon> Upload File</span>
      <input type="file" (change)="onFileSelected($event)" accept=".pdf, .doc, .docx">
    </label>

  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </div>
</form>

