
<!-- archive.component.html -->
<div class="flex-container">
    <div class="search-bar">
      <input type="text" placeholder="Rechercher" class="search-input" [(ngModel)]="searchTerm" (input)="applyFilter()"/>
    </div>
    <div class="page-content" style="padding-left: 0px; padding-bottom: 10px;">
      <button style="color: white; background-color: #5538D9; border-radius: 10px; width: 200px; height: 50px;" mat-raised-button class="example-icon" (click)="openAddArchiveDialog()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>

  <div id="explorer">
  <div *ngFor="let archive of dataSource.filteredData" class="folder-container">
    <div class="folder" (click)="toggleFolder(archive.id)">
      <img src="assets/folder.png" width="100px" height="90px" alt="Folder Icon">
      {{ archive.nom }}<br>
  
      {{ archive.date_ajout | date:'yyyy/MM/dd' }} 
      <div class="folder-content">
        <div *ngFor="let document of documents" class="folder">
          {{ document.sujet }}
        </div>
        
      </div>
    </div>
    <div class="delete">
      <button class="example-icon-sup">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="delete">
      <button class="example-icon-sup">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>

  <!-- <div id="explorer">
    <div *ngFor="let archive of dataSource.filteredData" class="folder-container">
      <div class="folder" (click)="toggleFolder($event)">
        <img src="assets/folder.png" width="100px" height="90px" alt="Folder Icon">
        {{ archive.nom }}<br>
        {{ formatArchiveDate(archive.date_ajout) }}
        <div class="folder-content">

          <div class="folder">File 1.txt</div>
          <div class="folder">File 2.docx</div>
          <div class="folder">File 1.txt</div>
          <div class="folder">File 2.docx</div>
          <div class="page-content" style="padding-left: 0px; padding-bottom: 10px;">
      <button style="color: white; background-color: #5538D9; border-radius: 10px; width: 80px; height: 40px;" mat-raised-button class="example-icon" (click)="openAddArchiveDialog()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
        </div>
      </div>
      <div class="delete">
        <button class="example-icon-sup" >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="delete">
        <button class="example-icon-sup" >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div> -->
  


  