<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened >
      <mat-nav-list>
        <div class="daily-document">
          
          <div class="document-container">
            <div class="document-icon">
              <img src="assets/aub_logo_text_to_the_side.svg" class="mat-iconleft" width="100%" height="100%" alt=""> 
            </div>
            
          </div>
         
        </div>
        <div class="navigation-menu">
          <a mat-list-item (click)="reloadPage('/home-admin')" [routerLink]="['/home-admin']" [ngClass]="'primary-list-item'">
            <!-- reloadPage('/home-admin') -->
            <img src="assets/icons/home.png" class="mat-iconleft" width="30px" height="30px" alt=""> home
          </a>
          <a mat-list-item [ngClass]="{'primary-list-item': !showDocuments}" (click)="toggleDocuments()">
            <img src="assets/icons/paper.png" class="mat-iconleft" width="30px" height="30px" alt=""> Documents
        </a>
        
        <div *ngIf="showDocuments" class="document-tree">
            <ul>
                <li><a [routerLink]="['/home-admin/chart-banque-admin']">Chartes de la Banque</a></li>
                <li><a [routerLink]="['/home-admin/note-admin']">Notes DG</a></li>
                <li><a [routerLink]="['/home-admin/decision-admin']">Décisions </a></li>
                <!-- <li><a [routerLink]="['/home-admin/Texte-gouvernance-admin']">Texte de Gouvernance </a></li> -->
                <li><a [routerLink]="['/home-admin/politique-banque-admin']">Politique de la Banque </a></li>               
            </ul>
        </div>
          <a mat-list-item [routerLink]="['/home-admin/direction-admin']" [ngClass]="'primary-list-item'" *ngIf="!isAgent">
            <img src="assets/icons/notebook-computer.png" class="mat-iconleft" width="30px" height="30px" *ngIf="!isAgent" alt=""> Direction
          </a>

          <a mat-list-item [routerLink]="['/home-admin/agents']" [ngClass]="'primary-list-item'" *ngIf="!isAgent">
            <img src="assets/icons/programmer.png" class="mat-iconleft" width="30px" height="30px" *ngIf="!isAgent" alt=""> Agent
          </a>
          <!-- <a mat-list-item [routerLink]="['/home-admin/gerants']" [ngClass]="'primary-list-item'">
            <img src="assets/icons/businessman.png" class="mat-iconleft" width="30px" height="30px" alt=""> Gerant

            
          </a> -->

          <a mat-list-item [routerLink]="['/home-admin/profile-admin']" [ngClass]="'primary-list-item'">
            <img src="assets/icons/user.png" class="mat-iconleft" width="30px" height="30px" alt=""> Profile

            
          </a>

          <!-- <a mat-list-item (click)="logout()" [ngClass]="'primary-list-item'">
           
            <img src="assets/icons/logout.png" class="mat-iconleft" width="30px" height="30px" alt=""> Logout
            
          </a> -->
        </div>
        
      </mat-nav-list>
      
    </mat-sidenav>
  
    <mat-sidenav-content >
        <mat-toolbar style="color: white; background-color: #1c8244;" >
            <button mat-icon-button (click)="sidenav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">

            <img src="assets/icons/main-menu.png" class="mat-icontop" width="30px" height="30px" alt=""> 

            </button>
            <span>AUB DOC</span>
            <span class="example-spacer"></span>

          <mat-form-field class="search-input" appearance="outline">
            <input matInput placeholder="Search" [(ngModel)]="searchTerm">
            <button class="example-icon" mat-button matSuffix (click)="searchDocuments()">
            <img src="assets/icons/search.png" class="mat-icontop" width="30px" height="30px" alt=""> 

              
            </button>
          </mat-form-field>

            <button mat-icon-button class="example-icon-share favorite-icon" aria-label="Example icon-button with heart icon" (click)="logout()">
               
            <img src="assets/icons/logout-white.png" class="mat-icontop" width="30px" height="30px" alt=""> 

                
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <img src="assets/icons/notification.png" class="mat-icontop" width="30px" height="30px" alt=""> 

            </button>
          </mat-toolbar>

          <div *ngIf="searchResults">
            <ul>
              <li *ngFor="let result of searchResults">
                {{ result.sujet }} - {{ result.code }} - {{ result.description }}
                
              </li>
            </ul>

              <div *ngIf="useTraditionalTable; else materialTable">
    <table>
      <thead>
        <tr>
          <th>Sujet</th>
          <th>Code</th>
          <th>Description</th>
          <th>File</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let document of documents">
          <td>{{ document.sujet }}</td>
          <td>{{ document.code }}</td>
          <td>{{ document.description }}</td>
          <td>{{ document.file || 'N/A' }}</td>
          <td>
            <button >Modifier</button>
            <button >Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #materialTable>
    <table *ngFor="let result of searchResults" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="sujet">
        <th mat-header-cell *matHeaderCellDef> Sujet </th>
        <td mat-cell *matCellDef="let document"> {{ result.sujet }} </td>
      </ng-container>
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Code </th>
        <td mat-cell *matCellDef="let document"> {{ result.code }} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let document"> {{ result.description }} </td>
      </ng-container>
      <ng-container matColumnDef="file">
        <th mat-header-cell *matHeaderCellDef> File </th>
        <td mat-cell *matCellDef="let document">
          <a [routerLink]="['/your-route', document.file]">{{ result.file || 'N/A' }}</a>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let document">
          <button mat-icon-button class="example-icon-sup">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="example-icon-up">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </ng-template>
  

          </div>
       

      <div class="content">
        <div *ngIf="isHomePage">
          <h1> Accueille</h1>
          <div class="home-container" >
       
            <div class="daily-documents" style="width: 100%;" *ngIf="isAdmin">
              <h2>Ajout d'une Procédure</h2>
              <div class="document-container">
                <div class="document-icon">
                  <a mat-list-item [routerLink]="['/home-admin/Avis']" [ngClass]="'primary-list-item'">
                  <img src="assets/icons/avi.png" class="mat-iconleft" width="30px" height="30px" alt="">
                  </a>
                </div>
                <div class="document-details">
                  <p>Nombre du Procédure: </p>
                  <p>Date d'ajout : 01/11/2023</p>
                </div>
              </div>
             
            </div>
          
            <div class="inbox" style="width: 100%;" *ngIf="!isAdmin">
              <h2>Mes Procédures </h2>
              <div class="message-container">
                <div class="message-icon">
                  <a mat-list-item [routerLink]="['/home-admin/procedure-agent']" [ngClass]="'primary-list-item'" >
                    
                  <img src="assets/icons/automation.png" class="mat-iconleft" width="30px" height="30px" alt="">

                </a>
                </div>
                <div class="message-details">
                  <p>Expéditeur : {{ nom }} {{ prenom }}</p>
                  <p>Objet: </p>
                </div>
              </div>
              
            </div>
          </div>
          
          <div class="charts">
            <div class="pie" [chart]="pieChart">
          
            </div>
            <div class="line"[chart]="lineChart">
          
            </div>
          </div>
          
        </div>
  
          <router-outlet *ngIf="!isHomePage"></router-outlet> <!-- Contenu de la page enfant si ce n'est pas la page "home" -->
        
      
        
      </div>
    
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  <footer>
    <div class="container">
      <div class="footer-content">
        <div class="footer-logo">
          <img src="assets/aub_logo_text_to_the_side.svg" alt="Logo de votre site" />
        </div>
  
        <div class="footer-contact">
          <h5>Contactez-nous</h5>
          <input class="sed-mail" type="email" placeholder="Envoyez-nous un e-mail ..." />
        </div>
  
        <div class="footer-links">
          <h5>Liens utiles: www.aub.mr</h5>
          <ul>
            <li><a href="#">Accueil:</a></li>
            <li><a href="#">À propos:</a></li>
            <li><a href="#">Services:</a></li>
            <li><a href="#">Contact:</a></li>
          </ul>
        </div>
  
        <div class="footer-logo">
          <h5>Notre emplacement:</h5>
          <p>Notre adresse ici:</p>
          <p>Notre ville:</p>
          <p>Notre code postal:</p>
        </div>
  
        <div class="footer-social">
          <h5>Restons connectés</h5>
          <ul>
            <li><a href="#">
            <img src="assets/icons/facebook-logo.png" class="mat-icontop" width="30px" height="30px" alt=""> 
              
              Facebook</a></li>
            <li><a href="#">
            <img src="assets/icons/twitter.png" class="mat-icontop" width="30px" height="30px" alt=""> 
              Twitter</a></li>
            <li><a href="#">
            <img src="assets/icons/linkedin.png" class="mat-icontop" width="30px" height="30px" alt=""> 
              LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>