<div class="flex-container">
    <div class="search-bar">
      <input type="text" placeholder="Rechercher" class="search-input" [(ngModel)]="searchTerm" (input)="applyFilter()"/>
    </div>
    <!-- <div class="page-content" style="padding-left: 0px; padding-bottom: 10px;">
      <button style="color: white; background-color: #5538D9; border-radius: 10px; width: 200px; height: 50px;" mat-raised-button class="example-icon" (click)="openAddDocumentDialog()">
        <img src="assets/icons/add.png" class="mat-iconleft" width="20px" height="20px" alt="">

      </button>
    </div> -->

    <div class="page-content" style="padding-left: 0px; padding-bottom: 10px;" *ngIf="isAdmin">
      <button style="color: white; background-color: #5538D9; border-radius: 10px; width: 200px; height: 50px;" mat-raised-button (click)="openAddDocumentDialog()">
        <img src="assets/icons/add.png" class="mat-iconleft" width="20px" height="20px" alt="">
      </button>
    </div>
    
  </div>
  
<table>
  <thead>
      <tr>
          <th></th>
          <th>Sujet</th>
          <th>Code</th>
          <th>description</th>
          <th>date</th>
          <th>File</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let note of dataSource.filteredData">
          
              <div class="actions" *ngIf="note.isSelected">
                <button mat-icon-button class="example-icon-up" (click)="openConfirmationDialog(note.id)">
                <span><img src="assets/icons/delete.png" width="20px" height="20px" alt="Supprimer"></span>
              </button>

              <button mat-icon-button class="example-icon-up" (click)="openUpdateDialog(note.id)">
              <span><img src="assets/icons/edit.png" class="mat-iconleft" width="22px" height="24px" alt=""></span>
              </button>
            </div>
          
          <td>
              <input type="checkbox"  [checked]="note.isSelected" (change)="(note)" (change)="toggleSelection(note)"class="select-checkbox">
          </td>
          <td>{{ note.titre }}</td>
          <td>{{ note.code }}</td>
          <td>{{ note.description }}</td>
          <td>{{ note.date | date:'yyyy/MM/dd' }}</td>
          <td><iframe [src]="note.safeUrl" width="600px" height="200"></iframe>
            <a href="{{my_url}}{{ note.file }}" target="_blank">{{ note.file || 'N/A' }}</a>
          </td>
      </tr>
  </tbody>
</table>

<mat-paginator [pageSizeOptions]="[3, 5, 10]" (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>

